<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
</head>
<body>
<h1>Wrong request</h1>
<h2>Allowed requests</h2>

<table>
    <tr>
        <th>Path</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>GET /cities</td>
        <td>List of existing cities</td>
    </tr>
    <tr>
        <td>GET /find</td>
        <td>City of certain name</td>
    </tr>
    <tr>
        <td>POST /save</td>
        <td>Saving new city to the database</td>
    </tr>
    <tr>
        <td>DELETE /delete</td>
        <td>Deletion of existing city</td>
    </tr>
    <tr>
        <td>PUT /update</td>
        <td>Updating of existing city</td>
    </tr>
</table>

</body>
</html>